// For one line
div.wrapper{
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_text-overflow/


// For multi line
div.wrapper {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

https://stackoverflow.com/questions/33058004/applying-an-ellipsis-to-multiline-text/

// Incase your project has install StyleLint, it will automatic repalace "display: -webkit-box" turn to "display: block"
// Put this comment upon that line, and you'll be fine with Stylelint
/* stylelint-disable-line */
